  

<div class="container shadow">
  <div class="container d-flex justify-content-center mt-3">
    <h4>Categories</h4>
  </div>
  
  <!-- List all categories -->
  <div class="container mt-6 col-10">
    <table class="table">
      <tbody>
        <tr class="align-middle" *ngFor="let category of categories">
          <td>{{category.Name}}</td>
          <td class="d-flex justify-content-center p-3">
            <!-- Edit and delete category -->
            <button class="btn btn-primary me-2" (click)="showEdit(category)">Edit</button>
            <button class="btn btn-danger" (click)="removeCategory(category)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- Add category -->
  <div class="container d-flex justify-content-center  mt-3">
    <button class="btn btn-primary" (click)="addCategory()">Add Category</button>
  </div>
  </div>
</div>


<!-- Edit category -->
<div class="container d-flex justify-content-center align-items-center mt-5" *ngIf="isHidden === false">
  <label for="editCat">Edit your category: </label>
  <input class="mx-3" type="text" [(ngModel)]="updateCatData.Name">
  <button class="btn btn-primary me-3" (click)="editCategory()">Update</button>
  <button class="btn btn-danger" (click)="isHidden = true">Cancel</button>
</div>

