
<!-- ................................................... -->
<div class="container shadow">
    <div class="content">
        <form class="container col-md-4 col-lg-3" (ngSubmit)="loginUser()" #loginForm="ngForm">
            <h2 class="mb-4">LOGIN</h2>
            <!-- Email address field -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control mb-2" id="floatingInput" name="email" #email="ngModel" [(ngModel)]="loginData.Email" placeholder="name@example.com" required pattern="^[a-z0-9,%+]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <label for="floatingInput">Email address</label>
                <small class="text-danger form-text" [hidden]="email.valid || email.pristine">Enter a valid email address</small>
            </div>
            <!-- Password field -->
            <div class="form-floating">
                <input type="password" class="form-control mb-2" id="floatingPassword" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="loginData.Password" required>
    
                <label for="floatingPassword">Password</label>
    
                <small class="text-danger form-text" [hidden]="password.valid || password.pristine">Incorrect password format</small>
            </div>
    
            <div class=" pt-3">
                <button class="w-75 btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
            </div>
        <div class="message-box text-center">
            <label>Don't have an account?</label>
            <a href="/register">Sign Up</a> here.
        </div>
        </form>
   
  </div>
</div>