
 .shadow{
    margin-top: 200px;
    width: 50%;
    background-color: #b5acb6;
}
form{
    
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}
h2{
    text-align: center;
}
input{
    
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    padding-left: 26px;
    background: #fae9fb;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  button[type="submit"]{
    margin-left: 28px;
    color: #fff;
    height: 100%;
    width: 100%;
    background:  #7a6f5b;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
   .message-box{
    gap: 0.5em;
  }
 .message-box label{
    font-size: 16px;
    color: #636c72;
    padding: 5px;
  }
  a{
    text-decoration: none;
    cursor: pointer;
}
