

<div class="container shadow">
<div class=" col-lg-8  mx-5 mb-5 mb-lg-0">
    <div class="row mb-5">
        <div class="col-12 mx-auto my-4" *ngFor="let post of posts">
            <h2 class="post-title">{{post.Title}}</h2>
            <ul class="list-inline post-meta mb-4">
                <li class="list-inline-item"><strong>Created at : </strong>{{post.Date}}</li>
                <li class="list-inline-item"><strong>Category : </strong>{{post.Category}}</li>
            </ul>
            <p align="justify">{{post.Content}}</p>
            <!-- Edit and delete post -->
            <ul class="nav" >
                <li class="nav-item">
                    <button class="btn btn-primary mr-2 " (click)="editPost(post)">Edit</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger mx-2" (click)="deletePost(post)">Delete</button>
                </li>
            </ul>
        </div>
    </div>         
</div>
</div>
