***** Welcome Area Start *****
<div class="welcome-area" id="home">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text h-100">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12">
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<section id="body">
    <div id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section">
                        <h2>Blogs</h2>
                    </div>
                </div>
            </div>
  
<!-- Displaying stored posts -->
<div class="container shadow">
    <div class=" col-lg-10  mx-5 mb-5 mb-lg-0">
        <article class="row mb-5">
            <div class="col-12 mx-auto my-3" *ngFor="let post of posts">
                <h2 class="post-title">{{post.Title}}</h2>
                <ul class="list-inline post-meta mb-4">
                    <li class="list-inline-item"><strong>Posted by </strong>{{post.Author}}</li>
                    <li class="list-inline-item"><strong>posted on </strong> {{post.Date}}</li>
                    <li class="list-inline-item"><strong>in the Categories : </strong>{{post.Category}}</li>
                </ul>
                <p align="justify">{{post.Content}}</p>
            </div>
        </article>         
    </div>
</div>

           </div>
    </div>

    